sources:
  syslog:
    type: file
    include:
      - {{ src }}

sinks:
  my_sink_id:
    type: clickhouse
    inputs:
      - syslog
    compression: none
    database: {{ clickhouse_db }}
    endpoint: http://{{ clickhouse_host }}:{{ clickhouse_port }}
    format: json_each_row
    table: {{ db_table }}
